body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#countries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.country-container {
  text-align: center;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.detail-container {
  background-color: white;
  justify-content: center;
}

img {
  height: 60px;
  width: 60px;
}
